@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

:global(html), :global(body) {
  height: 100%;
  background-color: black;
}
:global(.btn:focus), :global(.btn:active), :global(button:focus), :global(button:active) {
  outline: none !important;
}
:global(#frame) {
  position: relative;
  height: 100%;
  overflow: hidden;
}
:global(#frame__content) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
